* {
    margin: 0;
    font-family: arial;

}

.grid {
    display: grid;
    grid-template-columns: minmax(120px, 200px) minmax(240px, 1fr) 80px;
    grid-template-rows: auto 1fr auto auto; //1fr grows
    grid-template-areas:
        'logotype search hamburger'
        'images images images'
        'contact contact contact'
        'footer footer footer';
    //container

    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;

    @media (min-width: 1024px) {
        grid-template-columns: minmax(300px, auto) 1fr;
        grid-template-rows: auto auto auto 1fr auto auto;
        grid-template-areas:
            'logotype images'
            'menu images'
            'search images'
            '. images'
            'contact images'
            'footer footer';
    }
}

.logo {
    grid-area: 1/1/2/2;
    background-color: pink;
    height: 100px;

    @media (min-width:1024px) {
        grid-area: logotype;
    }
}

.search {
    grid-area: 1/2/2/3;
    background-color: rgba(102, 51, 153, 0.466);

    @media (min-width:1024px) {
        grid-area: search;
        min-height: 100px;
    }
}

.menu {
    grid-area: 1/3/2/4;
    background-color: rosybrown;

    @media (min-width:1024px) {
        grid-area: menu;
        min-height: 300px;
    }
}

.gallery {
    // grid-area: 2/1/3/span 3;
    grid-area: images;
    background-color: seagreen;
    display: grid;
    position: relative;
    padding: 100px 50px 20px;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));

    gap: 15px;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.212);
        top: 20px;
    }
}

.contact {
    grid-area: 3/1/4/4;
    background-color: sienna;
    height: 100px;

    @media (min-width:1024px) {
        grid-area: contact;
    }

}

.footer {
    // grid-area: 4/1/5/-1;
    grid-area: footer;
    background-color: skyblue;
    height: 100px;

    @media (min-width:1024px) {
        grid-area: footer;
    }
}